@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Open+Sans:wght@300&family=Roboto&display=swap');


body {
    font-family: 'Nabla', cursive;
    font-family: 'Open Sans', sans-serif;
font-size: medium;
padding: 0;
margin: 0;
overflow: hidden;
background-color: rgb(247, 244, 241);

}


.container {
    display: flex;
}

.content-right {
width: 60vw;
height: 100vh;
padding-left: 30px;
margin-top: 200px;
}

.header-text {
    font-weight: bold;
}

.content-left {
    width: 40vw;
    height: 100vh;
}

img {
    background-size: contain;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    width: 3rem;
    color: white;
    display: flex;
    align-itrems: center;
    left: 6rem;
    top: 10rem;
    background-color: white;
    width: fit-content;
    
}

.logo img {
    width: 100px;
}

.row {
    display: flex;
    gap: 5rem;
}

.submit-btn button {
    background-color: #596D48;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #596D48;
    color: white;
}

.login {
    color: #596D48;
    font-weight: bold;
}

input {
    border: 1px solid black;
}

input:focus {
    border: 4px solid #E5E7EB;
}
